<footer xmlns="http://www.w3.org/1999/xhtml" class="container">
    <!-- Footer with Syriaca.org $nav-baseing -->
            <div class="row">
                <div class="col-md-4">
                    <h5>Funding</h5>
                    <a href="https://www.bmbf.de/en/index.html"><img src="$nav-base/resources/images/BMBF_gefoerdert_2017_en.jpg" style="max-width: 100%; max-height: 200px;"/></a>
                </div>
                <div class="col-md-4">
                    <h5>Copyright</h5>
                    <small class="d-block mb-3 text-muted">© 2018</small>
                    <small class="d-block mb-3 text-muted">
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
                        </a>
                        <br/>This work is licensed for sharing and reuse under a <a class="text-muted" rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
                    </small>
                </div>
                <div class="col-md-4">
                    <h5>External Collaborators</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="https://www.orinst.ox.ac.uk/people/emilie-savage-smith">Emilie Savage-Smith</a></li>
                        <li><a class="text-muted" href="http://syriaca.org/">Syriaca.org</a></li>
                        <li><a class="text-muted" href="http://www.thomasacarlson.com/">Thomas A. Carlson</a></li>
                        <li><a class="text-muted" href="http://onomasticon.irht.cnrs.fr/">Onomasticon Arabicum</a></li>
                        <li><a class="text-muted" href="https://www.oeaw.ac.at/en/byzantine-research/byzantium-and-beyond/mobility-and-intercultural-contacts/hunaynnet/">HUNAYNNET</a></li>
                        <li><a class="text-muted" href="http://www.geschichte.uni-frankfurt.de/66612038/Volkswagenprojekt">Dhimmis and Muslims</a></li>            
                        <li><a class="text-muted" href="https://www.graeco-arabic-studies.org/">A Digital Corpus for Graeco-Arabic Studies</a></li>
                    </ul>
                </div>
            </div>
</footer>